<a href="https://colab.research.google.com/github/umair055/IDS-Assignment5/blob/main/IDS%20Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
#importing libraries
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import math
import numpy as np
from numpy.linalg import norm

#Sentences
sentence_1="sunshine state enjoy sunshine"
sentence_2="brown fox jump high, brown fox run"
sentence_3="sunshine state fox run fast"

In [78]:
#Tokenizing
sentence_1="sunshine state enjoy sunshine"
sentence_2="brown fox jump high , brown fox run"
sentence_3="sunshine state fox run fast"
sentence_1 = sentence_1.split(" ")
sentence_2 = sentence_2.split(" ")
sentence_3 = sentence_3.split(" ")
total= set(sentence_1).union(set(sentence_2)).union(set(sentence_3))
print(total)

{'fox', ',', 'run', 'sunshine', 'jump', 'brown', 'enjoy', 'state', 'fast', 'high'}

In [79]:
#Bag Of Words
wordDictA = dict.fromkeys(total, 0) 
wordDictB = dict.fromkeys(total, 0)
wordDictC = dict.fromkeys(total, 0)
for word in sentence_1:
    wordDictA[word]+=1
    
for word in sentence_2:
    wordDictB[word]+=1

for word in sentence_3:
    wordDictC[word]+=1
pd.DataFrame([wordDictA, wordDictB, wordDictC])

   fox  ,  run  sunshine  jump  brown  enjoy  state  fast  high
0    0  0    0         2     0      0      1      1     0     0
1    2  1    1         0     1      2      0      0     0     1
2    1  0    1         1     0      0      0      1     1     0

In [80]:
#Term Frequency
def computeTF(wordDict, doc):
    tfDict = {}
    corpusCount = len(doc)
    for word, count in wordDict.items():
        tfDict[word] = count/float(corpusCount)
    return(tfDict)
#running our sentences through the tf function:
tfFirst = computeTF(wordDictA, sentence_1)
tfSecond = computeTF(wordDictB, sentence_2)
tfThird = computeTF(wordDictC, sentence_3)
#Converting to dataframe for visualization
tf = pd.DataFrame([tfFirst, tfSecond, tfThird])
tf

    fox      ,    run  sunshine   jump  brown  enjoy  state  fast   high
0  0.00  0.000  0.000       0.5  0.000   0.00   0.25   0.25   0.0  0.000
1  0.25  0.125  0.125       0.0  0.125   0.25   0.00   0.00   0.0  0.125
2  0.20  0.000  0.200       0.2  0.000   0.00   0.00   0.20   0.2  0.000

In [82]:
#Inverse  Document Frequency
def computeIDF(docList):
    idfDict = {}
    vals=[]
    count=0
    N = len(docList)
    for word in docList[0].keys():
      if word in sentence_1:
        count+=1
      if word in sentence_2:
        count+=1
      if word in sentence_3:
        count+=1
      idfDict[word]=count
      count=0
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N /val)
    return(idfDict)
#inputing our sentences in the log file
idfs = computeIDF([wordDictA, wordDictB, wordDictC])
print(idfs)

{'fox': 0.17609125905568124, ',': 0.47712125471966244, 'run': 0.17609125905568124, 'sunshine': 0.17609125905568124, 'jump': 0.47712125471966244, 'brown': 0.47712125471966244, 'enjoy': 0.47712125471966244, 'state': 0.17609125905568124, 'fast': 0.47712125471966244, 'high': 0.47712125471966244}

In [83]:
#TF-IDF
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return(tfidf)
#running our two sentences through the IDF:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)
idfThird = computeTFIDF(tfThird, idfs)
#putting it in a dataframe
idf= pd.DataFrame([idfFirst, idfSecond, idfThird])
print(idf)

        fox        ,       run  sunshine     jump    brown    enjoy     state  \
0  0.000000  0.00000  0.000000  0.088046  0.00000  0.00000  0.11928  0.044023
1  0.044023  0.05964  0.022011  0.000000  0.05964  0.11928  0.00000  0.000000
2  0.035218  0.00000  0.035218  0.035218  0.00000  0.00000  0.00000  0.035218

       fast     high
0  0.000000  0.00000
1  0.000000  0.05964
2  0.095424  0.00000

In [84]:
#Cosine Similarity Between S1 and S3
S1 = list(wordDictA.values())
S3 = list(wordDictC.values())
 
 
print("S1:", S1)
print("S3:", S3)
 
# compute cosine similarity
cosine = np.dot(S1,S3)/(norm(S1)*norm(S3))
print("Cosine Similarity:", cosine)

S1: [0, 0, 0, 2, 0, 0, 1, 1, 0, 0]
S3: [1, 0, 1, 1, 0, 0, 0, 1, 1, 0]
Cosine Similarity: 0.5477225575051661